body{
	font-family: 'Raleway', sans-serif;
    font-size: 25px;
    background-color: skyblue;
}

#home{
	background-color: pink;
    color: black;
    border-radius: 10px;
    border: 5px dotted black;
    padding: 10px;
    margin-left: 594px;
}

#home:hover {
	background-color: skyblue;
	color: white;
}

#pAgain {
	background-color: pink;
    color: black;
	border-radius: 10px;
    border: 5px dotted white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 594px;
}
#pAgain:hover {
	background-color: skyblue;
	color: white;
}

#tag {
	background-color: cornflowerblue;
    padding: 9px;
    margin-top: 365px;
    margin-left: 306px;
    margin-right: -226px;
    border-radius: 10px;
    border: 5px solid black;
}
#timeCount {
	background-color: lightcoral;
	color: black;
}

.playBtn,.reset{
	background-color:plum;
	color:black;
	border-radius:10px;
    border: 5px dotted black;
	padding: -12px;
	margin-top: 27px;
	margin-left: -194px;
	width: 98px;
}
	

.playBtn:hover, .reset:hover{
	background-color:pink;
	color: gray;
}


.container{
	border-radius:10px;
	text-align: center;
	height: 100%;
	width: 500px;
	margin-top: 30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
}

.thisChoice:hover{
	border-radius:8px;
	background-color: plum;
	color:white;
	padding: 8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
}

.wrapper {
	background-color: rgb(247, 137, 181);
	height: 270px;
	width: 100%;
	border: 5px dotted white;
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: center;
}


@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 100px;
		size: 100%;
	}	
}